<% layout('layouts/boilerplate') %>

<body>
    <div class="text-center mb-5">
        <h1 class="display-1">All Campgrounds</h1>
    </div>
    <% for (let campground of campgrounds){ %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <!-- <img src="<%= campground.images[0].url %>" alt="" class="img-fluid"> -->
                <div id="campgroundCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% campground.images.forEach((img, i) => {%>
                        <div class="carousel-item <%= i === 0 ? 'active' : ''%> ">
                            <img src="<%= img.url %> " class="d-block w-100" alt="...">
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><small class="text-muted"><b>$<%= campground.price %>/night</b></small></p>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted">
                            <%= campground.location %>
                        </small>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View Campground</a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="text-center">
        <a href="#" class="text-muted display-6"><b>Back To Top</b></a>
    </div>
</body>
